

h1 
{
color: #090;
font-size: 50px;
font-weight: normal;
text-align: center;
}

h1:hover,
p:hover 
{
background: #ccf;
}

#r1 
{
color: #fc0;
font-size: 20px;
font-weight: 700;
}

#r1:first-letter
{
color: #f00;
font-size: 2em;
}

#r1:first-line 
{
color: #090;
font-size: 2em;
}



#r2 
{
color: #f00;
font-size: 30px;
line-height: 60px;
font-family: Arial, 'Arial Black', sans-serif;
text-indent: 40px;

}

#r3
{
color: #00f;
font-size: 40px;
fon-style: italic;
text-align: justify;
}

#strong
{
font-weight: 400;
}



